streamlit
openai
openai-whisper
spacy
requests
# This specific version of torch is recommended for Streamlit Cloud
torch==2.0.1
# This specific version of protobuf is needed to avoid conflicts
protobuf==3.20.0
# Add the spaCy model
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz